:root {
      --color-primario: #002C5F;
      --color-secundario: #F1F3F5;
      --color-texto: #0D3B66;
      --color-acento: #F4C542;
    }

    body {
      background-color: #FFFFFF;
      color: var(--color-texto);
      overflow-x: hidden;
    }

   
    .bg-primary {
      background-color: var(--color-primario) !important;
    }

    .text-primary {
      color: var(--color-primario) !important;
    }

    .btn-primary {
      background-color: var(--color-primario) !important;
      border-color: var(--color-primario) !important;
    }

    .btn-primary:hover {
      background-color: #001a4d !important;
      border-color: #001a4d !important;
    }

    .bg-secondary {
      background-color: var(--color-secundario) !important;
    }

    footer {
      border-top: 5px solid var(--color-acento);
    }

    .navbar .nav-link {
      font-weight: 500;
    }

    .navbar .nav-link:hover {
      color: var(--color-acento) !important;
    }

    .highlight {
      color: var(--color-acento);
    }

    .text-justify {
  text-align: justify;
  }

  .carousel-img-fijo {
    height: 500px;
    width: 100%;
    object-fit: cover;
  }

  .bg-nosotros {
  background-color: var(--color-secundario); /* #F1F3F5 */
  padding: 1.5rem;
  border-left: 5px solid var(--color-acento); /* toquecito amarillo */
  border-radius: 0.5rem;
}

.titulo-plan {
  background-color: #002C5F; /*  azul institucional */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-bottom: 15px;
}